. .venv\Scripts\Activate.ps1
$env:DF_DB_HOST=<db_host>
$env:DF_DB_NAME=df_backend
$env:DF_DB_PORT=3306
$env:DF_DB_PASS=<db_pass>
$env:DF_DB_USER=dunderfunk
$env:DJANGO_SETTINGS_FILE=df_backend.settings